@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

<p>This is a small, stand-alone web application written to solve a simple need -- easily posting notices for a group to reference.</p>

<p>It's meant to be straight-forward and mobile phone accessible.</p>

<p>Possible future features might be E-mail or SMS notifications to subscribed users.</p>

<p>You can find the source code at <a href="http://github.com/mattgwagner/alert-roster">GitHub</a>.</p>