@model IEnumerable<alert_roster.web.Models.Message>

@{
    ViewBag.Title = "Messages";
}

<h2>@ViewBag.Title</h2>

@foreach (var message in Model)
{
    <div class="row">
        <div class="col-md-5">
            <fieldset>
                <legend>
                    Posted <script>var d = moment.utc('@message.PostedDate').local(); document.write(d);</script>
                </legend>

                @message.Content
            </fieldset>
        </div>
    </div>
}