@model IEnumerable<alert_roster.web.Models.Message>

@{
    ViewBag.Title = "Messages";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

@foreach (var message in Model)
{
    <div class="row">
        <div class="col-md-4">
            <h2>
            <script>var d = moment.utc('@message.PostedDate').local(); document.write(d);</script></h2>
            <p>
                @message.Content
            </p>
        </div>
    </div>
}