@using alert_roster.web.Models;
@model IEnumerable<Message>

@{
    ViewBag.Title = "Messages";
}

<h2>@ViewBag.Title</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">@TempData["Message"]</div>
}

@foreach (var message in Model)
{
    <div class="row">
        <div class="col-md-5">
            <fieldset>
                <legend>
                    Posted
                    <script>var d = moment.utc(@message.PostedDate.GetEpochTicks()).local().fromNow(); document.write(d);</script>
                </legend>

                @message.Content
            </fieldset>
        </div>
    </div>

    <br />
}